<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 
		引入带有数据库连接信息的properties资源文件（详见当前包下的db.properties文件）
		这里需要特别说明的是：
		在实际项目开发中，连接数据库的参数信息不会直接写在mybatis-config.xml中，
		而是通过一个properties资源文件定义连接数据库的参数信息，并在mybatis-config.xml中引用
	 -->
	<properties resource="com/pl/demo1/db.properties"></properties>
	
	<!-- environments标签中可以配置多个数据库配置，但是只能使用其中一个来构建SqlSessionFactory，default属性用来指定用哪个数据库配置 -->
	<!-- 指定使用开发环境的数据库配置来构建SqlSessionFactory，"development"是开发环境数据库配置的id号 -->
	<environments default="development">
		<!-- 开发环境的数据库配置，id必须唯一，如果有多个数据库配置的话则只能使用其中一个来构建SqlSessionFactory -->
		<environment id="development">
			<!-- 指定事务管理器类型，type="JDBC"指直接简单使用了JDBC的提交和回滚设置 -->
			<transactionManager type="JDBC" />
			<!-- 指定数据源配置，type="POOLED"指使用数据库连接池 -->
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
		<!-- 生产环境的数据库配置，id必须唯一，如果有多个数据库配置的话则只能使用其中一个来构建SqlSessionFactory -->
		<environment id="production">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
		<!-- 测试环境的数据库配置，id必须唯一，如果有多个数据库配置的话则只能使用其中一个来构建SqlSessionFactory -->
		<environment id="test">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
		
	</environments>
	
	<!-- 指定对象-关系映射文件 -->
	<mappers>
		<mapper resource="com/pl/demo1/UserMapper.xml" />
	</mappers>
</configuration>