<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace:映射文件的命名空间，一般使用映射文件所在报名+映射文件名来指定
	                  如UserMapper.xml映射文件在com.pl.demo1包下，则指定namespace="com.pl.demo1.UserMapper"
 -->
<mapper namespace="com.pl.demo1.UserMapper">
	<select id="selectUserById" parameterType="java.lang.Integer" resultType="com.pl.demo1.User">
	<![CDATA[
		select * from TB_USER where id = #{id}
	]]>
	</select>
</mapper>