<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 特别说明，spring的配置文件一般叫做ApplicationContext.xml，这里为了演示方便，用ApplicationContext_demo1.xml、ApplicationContext_demo2.xml之类的配置文件名 -->


	<bean id="mysqlDao" class="com.pl.demo3.DaoMysqlImpl"></bean>
	<bean id="oracleDao" class="com.pl.demo3.DaoOracleImpl"></bean>

	<bean id="service" class="com.pl.demo3.Service">
		<property name="dao" ref="oracleDao"></property><!-- property标签用来指示bean的依赖应该如何注入（set的方式），name属性：bean中成员变量名，ref：依赖bean的id号 -->
		<property name="serviceDescribe" value="这是一段service的描述"></property><!-- property标签用来指示bean的依赖应该如何注入（set的方式），name属性：bean中成员变量名，value：常量值 -->
	</bean>


	<bean id="collection" class="com.pl.demo3.ColletionInjection">
		<property name="set">
			<set><!-- set的注入 -->
				<value>football</value>
				<value>basketball</value>
			</set>
		</property>
		<property name="list">
			<list><!-- list的注入 -->
				<value>male</value>
				<value>female</value>
			</list>
		</property>
		<property name="map">
			<map><!-- map的注入 -->
				<entry key="我的名字是：" value="彭立" />
				<entry key="我的性别是：" value="男" />
			</map>
		</property>

		<property name="properties">
			<props><!-- properties的注入 -->
				<prop key="name">xiaolili</prop>
				<prop key="gender">1</prop>
			</props>
		</property>


	</bean>




</beans>