<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 特别说明，spring的配置文件一般叫做ApplicationContext.xml，这里为了演示方便，用ApplicationContext_demo1.xml、ApplicationContext_demo2.xml之类的配置文件名 -->


	<!-- <context:annotation-config /> --><!-- 要使用注解，必须先加上这一行来开启注解驱动 -->
	
	<!-- 如果开启自动扫包的话，会自动开启注解驱动，开发员就不用显式的开启注解驱动了 -->
	<!-- base-package属性指定的是要扫哪个包及它的子包下的带有@Controller、@Service、@Repository、@Component其中之一的类 -->
	<context:component-scan base-package="com.pl" />

</beans>