<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	使用mybatis提供的基于接口方式的编程后，namespace的属性值是接口的全类名
 -->
<mapper namespace="com.pl.demo5.BeanDao">

	<!-- 使用mybatis提供的基于接口方式的编程后，id属性对应接口的方法名称 -->
	<select id="getBeanById" parameterType="java.lang.Integer" resultType="mybean"><!-- 由于在全局配置文件中配置了"mybean"别名，这里就可以不写全类名了 -->
	<![CDATA[
		select * from t_test where ID=#{id}
	]]>
	</select>
	
</mapper>